mss-health-domain-sapi/src/main/mule/implementations/get-covid-case-by-national-id.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">
	 <flow name="get-covid-case-by-national-idFlow" doc:id="2f965caf-9420-4a8b-be55-d620ec71af46"><ee:transform doc:name="Set correlationId And nationalID" doc:id="01f9e93a-516d-464e-9afb-4d913fbe1dfa" >
			<ee:message />
			<ee:variables >
				<ee:set-variable variableName="correlationId" ><![CDATA[attributes.headers.'x-correlation-id' default ""]]></ee:set-variable>
				<ee:set-variable variableName="nationalID" ><![CDATA[attributes.uriParams.nationalID]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Start Log" doc:id="ca59144d-49c6-4b75-ac03-a6a54b9cdc8f" message='transactionID: #[vars.transactionId]], correlationID: #[vars.correlationId], message: "Started get covid case by national id flow"' />
		<db:select doc:id="8f0631ea-12cf-4321-9763-94d53e584db6" config-ref="Database_Config" doc:name="Select Case by NationalID" >
			<db:sql ><![CDATA[select case_id, source, case_type, first_name, last_name, phone, email, date_of_birth, national_id, national_id_type, street_address, city, state, postal, country, create_date, update_date from cvd_case_master where national_id = :national_id]]></db:sql>
			<db:input-parameters ><![CDATA[#[{
	national_id: vars.nationalID
}]]]></db:input-parameters>
		</db:select>
		<choice doc:name="Choice" doc:id="f9650e3c-44ee-498f-9720-9bc61c896bff" >
			<when expression="#[sizeOf(payload) &gt; 0]" >
				<ee:transform doc:name="Set Success Response" doc:id="414e1870-746a-47e6-a8fc-8fabfeb8ab0e" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map (covidCase, indexOfCovidCase) -> {
	caseID: covidCase.case_id,
    source: covidCase.source,
    caseType: covidCase.case_type,
    firstName: covidCase.first_name,
    lastName: covidCase.last_name,
    phone: covidCase.phone,
    email: covidCase.email,
    dateOfBirth: covidCase.date_of_birth as String {format: "yyyy-MM-dd"},
    nationalID: covidCase.national_id,
    nationalIDType: covidCase.national_id_type,
    address: {
      streetAddress: covidCase.street_address,
      city: covidCase.city,
      state: covidCase.state,
      postal: covidCase.postal,
      country: covidCase.country
    },
    createDate: covidCase.create_date as String {format: "yyyy-MM-dd"},
    updateDate: covidCase.update_date as String {format: "yyyy-MM-dd"}
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<raise-error doc:name="Raise CUSTOM:CASE_NOT_FOUND Error" doc:id="924ab0de-8759-4e46-a77d-60d21314d601" type="CUSTOM:CASE_NOT_FOUND" description="The server has not found anything matching the Request-URI" />
			</otherwise>
		</choice>
		<error-handler >
			<on-error-continue enableNotifications="true" logException="true" doc:name="On Error Continue" doc:id="27e520ca-15c0-4a03-a830-de940e7c8a6c" type="CUSTOM:CASE_NOT_FOUND" >
				<ee:transform doc:name="Set Not Found Response" doc:id="5aed7e82-a62c-4047-a3c3-25f3c4803c58" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"code": 404,
	"message": "Resource not found",
	"description": error.description,
	"dateTime": now() as String { format: "yyyy-MM-dd'T'HH:mm:ss'Z'" },
	"transactionId": vars.transactionId
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-continue>
		</error-handler>
    </flow>

		
	</mule>
